<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img src="/assets/img/profile_2.png" alt="">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">

            <a aria-label="Send email" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <!--<a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>-->

            <!-- <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/{{site.gplus_username}}/posts">
                <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
            </a>-->

            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="Use the RSS to get updated" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>

        </div>

        <ul class="recent">
            <h1>ME</h1>
            <h2>Well... I'm a developper</h2>
            <p>I do alot of crazy things (atleast that's what I believe).</p>
            <p>But the craziest thing I've done so far is try Javascript (EcmaScript 2016) and React.js all at the same time.</p>
            <p>I'm currently studying and gettting a Technician degree as a developper.</p>
            <p>Down below you can see what I have worked on reecently.</p>
            <p>Most of the projects on my github are work in progresses (some abandonned ideas), or scholar projects.</p>
        </ul>
        <div class="recent">
          <p>This website will be used to stay tuned on my latest projects, and maybe I will one day there will be actual posts.</p>
          <p>In the mean time, if you are interested in hiring, here's my resume : <a class="icon fa fa-2x fa-file-text" style="color:white;padding-left:5px;" href="{{ "/assets/misc/thomas_ricci_resume.pdf" | prepend: site.baseurl }}"></a></p>

        </div>
        <ul class="recent">
            <h3>I have done some projects, please check them out if you want to</h3>
             {% for project in site.projects limit:3%}
                <li>
                    <a href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
    {% include menu-search.html %}
</header>
