.about
  color about
  margin-top -79px
  .aboutme
    h1, h2, h3
      :hover
        background-color transparent
    .aboutme::before
      background-color neotree
      height 80px
    .content
      padding-top 80px
      min-height 95vh
      background-color main
      color about
      &::after
        content " "
        width 100%
        padding 5px
        margin-top 20px
        margin-bottom 10px
