.sidebar
  padding-top: 43px
  padding-right 10px
  width 347px
  height 100%
  position fixed
  background-color neotree
  overflow-y auto
  overflow-x hidden
  top 0

  +below(rem(1450px))
      display none
  .person
    width 150px
    height 140px
    border-radius 100%
    margin-bottom 30px
    margin-left: 22%
    border-color white
    border-width 2px
    border-style solid
    img
      width: 130px
      margin-left 10px
      margin-top 13px
  .content
    margin-left 15px
    color lightGray
    .title
        color #c06a64
        position relative
        margin rem(10px) 0

        &:before
            content ""
            width 300px
            height 4px
            position absolute
            bottom -3px
            padding-top -1px
            background-color #c06a64
