---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <div class="sidebar">
          <div class="content">
              <div class="person">
                <img src="/assets/img/profile_2.png"  alt="">
              </div>
              <div class="title">
                <h2>Hi there</h2>
              </div>
              <div class="self-desc">
                <p>I like tech and almots everything around it.</p>
                <p>I'm up for hirring right now so...</p>
                <p>If you are looking for someone, or somebody you know is looking for someone:</p>
                <a aria-label="Send email" href="mailto:{{site.email}}?subject=I want you!&body=Hey Thomas,%0D%0ALet's get in touch, I'm ..."><span class="fa fa-envelope"></span></a>
                <a class="" href="{{ "/assets/misc/thomas_ricci_resume.pdf" | prepend: site.baseurl }}"><span class="fa fa-file-text"></span></a>
              </div>
          </div>
        </div>
        <section class="post about" itemscope itemtype="http://schema.org/WebPage">

            <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
                {{ content }}
            </article>
            {% include scripts.html %}
        </section>
    </body>
</html>
